<!DOCTYPE html>
<html>
{{>adminheader}}

<body>



    <div id="wrapper">
        {{>adminPar}}

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Add Maneger For A Barnch</h2>
                    </div>
                </div>

                <div class="col-lg-12 ">
                    {{>addBManeger}}
                </div>
            </div>
        </div>

        {{>adminfooter}}


</body>

</html>