<!DOCTYPE html>
<html>
{{>adminheader}}

<body>



    <div id="wrapper">
        {{>managerPar}}

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Add Employees</h2>
                    </div>
                </div>

                <div class="col-lg-12 ">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#Clerks" data-toggle="tab">Add Clerks</a>
                        </li>
                        <li class="">
                            <a href="#Trainers" data-toggle="tab">Add Trainers</a>
                        </li>


                    </ul>
                    <div class="tab-content">
                        
                        <div class="tab-pane active" id="Clerks">
                            <form action="/addclerk" method="POST">
                            <h3>Add Clerks</h3>

                            <div class="col-lg-12">

                                
                                <div class="row">
                                    <p></p>
                                    <div class="col-lg-1">
                                        <label>FirstName</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="first_name" />
                                    </div>
                                    <div class="col-lg-1 ">
                                        <label>LastName</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="last_name" />
                                    </div>
                                    <div class="col-lg-1">
                                        <label>UserName</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="user_name" />
                                    </div>
                                </div>
                                <div class="row">
                                    <p></p>
                                    <div class="col-lg-1">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="email" class="form-control" name="user_email" />
                                    </div>
                                    <div class="col-lg-1 ">
                                        <label>Password</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="password" class="form-control" name="user_password" />
                                    </div>
                                    <div class="col-lg-1 ">
                                        <label>SSN</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="ssn" />
                                    </div>
                                </div>
                                <div class="row">
                                    <p></p>
                                    <div class="col-lg-1">
                                        <label>PhoneNO.</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="phone" />
                                    </div>
                                    <div class="col-lg-1 ">
                                        <label>Salary</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input  class="form-control" name="salary" />
                                    </div>
                                </div>
                                <div class="row">
                                    <p></p>
                                    <div class="col-lg-1">
                                        <label>Birthday</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="date" name="Bday">
                                    </div>

                                    <div class="col-lg-1">
                                        <label>HireDate</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="date" name="Hday">
                                    </div>
                                </div>
                                
                            </div>


                            <div class="row">

                                <div class="col-lg-12 col-md-6">
                                    <label class="col-lg-9 col-md-3"></label>
                                    <button class="col-lg-2" type="submit">Add Clerk</button>
                                </div>
                            </div>
                        </form>
                        </div>
                        
                        
                        <div class="tab-pane fade" id="Trainers">
                            <form action="/addtrainer" method="POST">
                            <h3>Add Trainers</h3>                            
                            <div class="col-lg-12">
                                <div class="row">
                                    <p></p>
                                    <div class="col-lg-1">
                                        <label>FirstName</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="first_name" />
                                    </div>
                                    <div class="col-lg-1 ">
                                        <label>LastName</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="last_name" />
                                    </div>
                                    <div class="col-lg-1">
                                        <label>UserName</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="user_name" />
                                    </div>
                                </div>
                                <div class="row">
                                    <p></p>
                                    <div class="col-lg-1">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="email" class="form-control" name="user_email" />
                                    </div>
                                    <div class="col-lg-1 ">
                                        <label>Password</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="password" class="form-control" name="user_password" />
                                    </div>
                                    <div class="col-lg-1 ">
                                        <label>SSN</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="ssn" />
                                    </div>
                                </div>
                                <div class="row">
                                    <p></p>
                                    <div class="col-lg-1">
                                        <label>PhoneNO.</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" name="phone"/>
                                    </div>
                                    <div class="col-lg-1 ">
                                        <label>Salary</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input  class="form-control" name="salary" />
                                    </div>
                                </div>
                                <div class="row">
                                    <p></p>
                                    <div class="col-lg-1">
                                        <label>Birthday</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="date" name="Bday">
                                    </div>

                                    <div class="col-lg-1">
                                        <label>HireDate</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="date" name="Hday">
                                    </div>
                                </div>                                
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-6">
                                    <label class="col-lg-9 col-md-3"></label>
                                    <button class="col-lg-2" type="submit">Add Trainer</button>
                                </div>
                            </div>
                            </form>
                        </div>  
                        
                        
                    </div>
                </div>
            </div>

            {{>adminfooter}}


</body>

</html>