<!DOCTYPE html>
<html>
{{>adminheader}}

<body>



    <div id="wrapper">
        {{>clerkPar}}

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Add Members</h2>
                    </div>
                </div>

                <div class="col-lg-12 ">

                    <div class="col-lg-12">
                        <div class="row">
                            <p></p>
                            <div class="col-lg-1">
                                <label>FirstName</label>
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" name="first_name" />
                            </div>
                            <div class="col-lg-1 ">
                                <label>LastName</label>
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" name="last_name" />
                            </div>
                            <div class="col-lg-1">
                                <label>UserName</label>
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" name="user_name" />
                            </div>
                        </div>
                        <div class="row">
                            <p></p>
                            <div class="col-lg-1">
                                <label>Email</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="email" class="form-control" name="user_email" />
                            </div>
                            <div class="col-lg-1 ">
                                <label>Password</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="password" class="form-control" name="user_password" />
                            </div>
                        </div>
                        <div class="row">
                            <p></p>
                            <div class="col-lg-1">
                                <label>PhoneNO.</label>
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" />
                            </div>

                            <div class="col-lg-1">
                                <label>Birthday</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="date" name="Bday">
                            </div>

                        </div>
                        <div class="row">
                            <p></p>
                            <div class="col-lg-1">
                                <label>Gender</label>
                            </div>
                            <div class="col-lg-3">
                                <select name="select">
                                    <!--Supplement an id here instead of using 'name'-->
                                    <option value="value1">Male</option>
                                    <option value="value2" >Female</option>
                                </select>
                            </div>
                            <div class="col-lg-1 ">
                                <label>Weight</label>
                            </div>
                            <div class="col-lg-3">
                                <input class="form-control" name="weight" />
                            </div>
                        </div>
                        <div class="row">
                            <p></p>
                            <div class="col-lg-1">
                                <label>JointDate</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="date" name="Fday">
                            </div>

                             <div class="row">
                            <p></p>
                            <div class="col-lg-1">
                                <label>Trainer</label>
                            </div>
                            <div class="col-lg-3">
                                <select name="select">
                                    <!--Supplement an id here instead of using 'name'-->
                                    <option value="value1">ahmed</option>
                                    <option value="value2" >Mahmoud</option>
                                    <option value="value2" >sami</option>
                                </select>
                            </div>
                            
                        </div>
                        </div>
                        <div class="row">
                                    <p></p>
                                    <div class="col-lg-1">
                                        <label>Price</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input class="form-control" />
                                        
                                    </div>
                                     <div class="col-lg-1">
                                        <label>Duration</label>
                                    </div>
                                    <div class="col-lg-3">
                                         <div class="col-lg-3">
                                <select name="select">
                                    <!--Supplement an id here instead of using 'name'-->
                                    <option value="value1">1 Month</option>
                                    <option value="value2" >2 Months</option>
                                    <option value="value2" >3 Months</option>
                                </select>
                            </div>
                                    </div>
                                </div>
                                    
                    </div>


                    <div class="row">

                        <div class="col-lg-12 col-md-6">
                            <label class="col-lg-9 col-md-3"></label>
                            <button class="col-lg-2" type="button">Add Member</button>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        {{>adminfooter}}


</body>

</html>