<!DOCTYPE html>
<html>
{{>adminheader}}
<body>
       
    <div id="wrapper">
        {{>adminPar}}

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <h2>ADMIN DASHBOARD</h2>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="alert alert-info">
                             <strong>Welcome Admin ! </strong> You Have No pending Task For Today.
                        </div>
                       
                    </div>
                 </div>
                  <!-- /. ROW  --> 
                            <div class="row text-center pad-top">
                  
                  
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                           <a href="edadmin" >
 <i class="fa fa-key fa-5x"></i>
                      <h4>Admin </h4>
                      </a>
                      </div>
                     
                     
                  </div>
				  
                     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                           <a href="addBM" >
 <i class="fa fa-user fa-5x"></i>
                      <h4>Add Branche Manager</h4>
                      </a>
                      </div>
                     
                     
                  </div> 

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                           <a href="addB" >
 <i class="fa fa-user fa-5x"></i>
                      <h4>Add Branche</h4>
                      </a>
                      </div>
                  </div> 
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                           <a href="addaddress" >
 <i class="fa fa-user fa-5x"></i>
                      <h4>Add Address</h4>
                      </a>
                      </div>
                      </div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                           <a href="seebranches" >
 <i class="fa fa-users fa-5x"></i>
                      <h4>See Branches</h4>
                      </a>
                      </div>
                  </div>
                   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="checkB">
                                <i class="fa fa-user fa-5x"></i>
                                <h4>Check Branch</h4>
                            </a>
                        </div>
                    </div>
                
				</div>
            </div>
        </div>
		
		{{>adminfooter}}
    
   
</body>
</html>
