<!DOCTYPE html>
<html>
{{>adminheader}}

<body>



    <div id="wrapper">
        {{>adminPar}}

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Select Branch</h2>
                    </div>
                </div>

                <div class="col-lg-12 ">

                    <div class="col-lg-12">

                             <div class="row">
                            <p></p>
                            <div class="col-lg-3">
                                <label>Branch Number</label>
                            </div>
                            <div class="col-lg-3">
                                <select name="select">
                                    <!--Supplement an id here instead of using 'name'-->
                                    <option value="value1">1</option>
                                    <option value="value2" >2</option>
                                    <option value="value2" >3</option>
                                </select>
                            </div>
                            
                        </div>
                    <div class="row">

                        <div class="col-lg-12 col-md-6">
                            <label class="col-lg-9 col-md-3"></label>
                            <button class="col-lg-2" type="button" formaction="/singleBranch">Check</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>adminfooter}}


</body>

</html>