<html>
    {{>headpage}}

    <body>
        <p>welcome how we can help you?</p>
        {{>footer}}
    </body>
    <style>
     body{
         background-color:rgb(255, 127, 217);
     }
    </style>
</html>