<!DOCTYPE html>
<html>
{{>adminheader}}

<body>

    <div id="wrapper">
        {{>managerPar}}

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Manager DASHBOARD</h2>
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr />
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="alert alert-info">
                            <strong>Welcome Manager ! </strong> You Have No pending Task For Today.
                        </div>

                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row text-center pad-top">


                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="edmanager">
                                <i class="fa fa-key fa-5x"></i>
                                <h4>Edit Info </h4>
                            </a>
                        </div>


                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="addTools">
                                <i class="fa fa-user fa-5x"></i>
                                <h4>Add Tools</h4>
                            </a>
                        </div>


                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="addEmp">
                                <i class="fa fa-user fa-5x"></i>
                                <h4>Add Employees</h4>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="seetools">
                                <i class="fa fa-users fa-5x"></i>
                                <h4>See Tools</h4>
                            </a>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="activity">
                                <i class="fa fa-users fa-5x"></i>
                                <h4>Activities</h4>
                            </a>
                        </div>


                    </div>


                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <div class="div-square">
                            <a href="seeusers">
                                <i class="fa fa-users fa-5x"></i>
                                <h4>See Users</h4>
                            </a>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        {{>adminfooter}}


</body>

</html>