 <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/logo.png" />
                    </a>
                </div>
              
                 <span class="logout-spn" >
                  <a href="#" style="color:#fff;">LOGOUT</a>  

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                 


                      <li> 
                        <a href="admin" ><i class="fa fa-desktop "></i>Dashboard <span class="badge"></span></a>
                    </li>
					
                    <li >
                        <a href="seebranches"><i class="fa fa-table "></i>See Branches<span class="badge"></span></a>
                    </li>
					
                    <li>
                        <a href="addBM"><i class="fa fa-edit "></i>Add Branch Manager<span class="badge"></span></a>
                    </li>
                     <li>
                        <a href="addB"><i class="fa fa-edit "></i>Add Branch<span class="badge"></span></a>
                    </li>
					
					<li>
                        <a href="edadmin"><i class="fa fa-edit "></i>Admin<span class="badge"></span></a>
                    </li>
                   
					

                </ul>
                            </div>

        </nav>